<div class="container">
    <div class="content">
        <h1>Task Manager</h1>
        <h2>自己管理はちゃんとしましょう</h2>
        <div class="create-account"></div>
            <p>アカウントを作成する方はこちら</p>
            <p>↓</p>
            <h3><%= link_to image_tag("create.GIF",alt:"create",size:"200x80"),signup_path %></h3>
        </div>
    </div>
</div>