<header>
<h1><%= link_to "Task", root_path %></h1>
    <nav>
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Sign up", signup_path  %></li>
             <%# if文でloginしたらuser_setting画面とかにいくようにする %>
            <li><%= link_to "Log in", "#" %></li>
        </ul>
    </nav>
</header>